RewriteEngine On

# Deliver literal files as-is
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

# / -> index.php - room/streams list
DirectoryIndex index.php

# /room/ -> room.php - native av-player in sd (with format switcher included)
RewriteRule ^(saal1|saal2|saalg|saal6)/?$ room.php?room=$1&format=sd&language=native [L]

# /room/translated -> room.php - translated av-player in sd (with format switcher included)
RewriteRule ^(saal1|saal2|saalg|saal6)/translated/?$ room.php?room=$1&format=sd&language=translated [L]

# /room/format/ -> room.php - native av-player in $format (with format switcher included)
RewriteRule ^(saal1|saal2|saalg|saal6)/(hd|audio|slides)/?$ room.php?room=$1&format=$2&language=native [L]

# /room/format/translated -> room.php - translated av-player in $format (with format switcher included)
RewriteRule ^(saal1|saal2|saalg|saal6)/(hd|audio|slides)/translated/?$ room.php?room=$1&format=$2&language=translated [L]


# /miniroom/ -> room.php - native av-player in sd
RewriteRule ^(sendezentrum)/?$ room.php?room=$1&format=sd&language=native [L]

# /miniroom/format/ -> room.php - native av-player in $format (no hd, no slides)
RewriteRule ^(sendezentrum)/(audio)/?$ room.php?room=$1&format=$2&language=native [L]


# /party/ -> player.php - simple audio-player for party
RewriteRule ^(lounge|ambient)/?$ party.php?room=$1&format=audio [L]


# /about/ -> about.php
RewriteRule ^about/?$ about.php [L]

# /program.json -> program-json.php
RewriteRule ^program.json?$ program-json.php [L]


# Show a known page in case of as miss
RewriteRule ^404.html$ 404.php [L]
ErrorDocument 404 /~peter/voc-frontends/31c3/404.php
