RewriteEngine On

# Never rewrite CSS-File-Path
#  - development hack
RewriteRule ^assets/css/main.css$ - [L]

# Deliver literal files as-is
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule (.*) index.php?route=$1 [L]
