@import "../../../assets/css/_structure.less";

@blue-bg-dark: #111a29;
@blue-bg-mid: fade(#192335, 84%);
@blue-bg-light: fade(#2a384f, 50%);
@blue-bright: #1231d1;
@green-light: #daffc7;
@green-lightest: #effafb;

@brand-primary:             @green-light;
@brand-danger:              @blue-bright;

@body-bg:                   @blue-bg-dark;
@text-color:                @green-lightest;
@text-color-highlight:      @green-light;
@text-shadow-color:         @blue-bg-dark;
@link-color:                @green-light;
@link-hover-color:          @green-lightest;

@navbar-default-color:      @text-color-highlight;
@navbar-default-bg:         darken(@blue-bright, 15%);
@navbar-default-link-color: @link-color;
@navbar-default-link-hover-color: @link-hover-color;

@panel-bg:                  @blue-bg-light;
@panel-default-heading-bg:  @blue-bg-light;
@panel-default-text:        @green-light;
@panel-default-border:      @green-light;
@panel-primary-border:      @green-light;
@panel-link-hover-body-bg:  @blue-bg-mid;

@nav-link-hover-bg:         @blue-bg-light;
@nav-tabs-border-color:     @green-light;
@nav-tabs-link-hover-border-color: @green-lightest;
@nav-tabs-active-link-hover-bg: @panel-link-hover-body-bg;
@nav-tabs-active-link-hover-color: @link-hover-color;
@nav-tabs-active-link-hover-border-color: @panel-default-border;

@btn-default-color:         @link-color;
@btn-default-color-hover:   @link-hover-color;
@btn-default-bg:            @blue-bg-light;
@btn-default-border:        @panel-default-border;

@btn-primary-color:         @blue-bg-dark;

@input-bg:                  @blue-bg-light;
@input-bg-disabled:         @blue-bg-mid;
@input-color:               @link-color;

@dropdown-bg:               @blue-bg-light;
@dropdown-border:           @green-light;
@dropdown-link-color:       @link-color;
@dropdown-link-hover-color: @link-hover-color;

@schedule-border:           @green-lightest;
@schedule-selected-room:    @green-light;

@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    src: url('/configs/conferences/froscon/Exo.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/configs/conferences/froscon/OpenSans-Regular.ttf') format('truetype');
}

h3, h4, h5, h6, .h3, .h4, .h5, .h6 {
    line-height: 1.2;
    color: @text-color;
    text-shadow: @text-shadow-color 0 0 3px;
}

h1, h2, .h1, .h2  {
    font-family: Exo, sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 1.2;
    color: @text-color-highlight;
    text-shadow: @text-shadow-color 0 0 5px;
}

body.overview {
    .panel-title {
        font-weight: bold;
    }

    .panel-body {
        min-height: 10px;
    }

    .recordings .panel {
        &:has(.panel-body a:hover), &:has(.panel-body a:focus) {
            background-color: @panel-link-hover-body-bg;
        }
    }
}

a {
    &:hover, &:focus {
        .panel {
            background-color: @panel-link-hover-body-bg;
        }
    }
}

.btn.btn-default {
    &:hover, &:focus {
        color: @btn-default-color-hover;
    }
}

.schedule {
    #schedule-event-detail-popover {
        background-color: fade(@blue-bg-light, 100%);

        #modal-header {
            background-color: @blue-bg-dark;
        }
    }

    .now {
        text-shadow: @green-lightest 0 0 1.2px;
    }

    .room.highlight {
        h1, h2, h3, .h1, .h2, .h3  {
            color: black;
        }

        h4, h5, h6, .h4, .h5, .h6 {
            color: @blue-bg-mid;
        }
    }

    .room:not(.highlight) {
        .block.pause, .block.optout {
            background-color: transparent;
        }

        h1, h2, h3, .h1, .h2, .h3  {
            color: @green-lightest;
        }

        h4, h5, h6, .h4, .h5, .h6 {
            color: @green-light;
        }
    }

    h1, h2, h3, h4, h5, h6, .h1, .h2 .h3, .h4, .h5, .h6 {
        text-shadow: none;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

nav.navbar {
    .navbar-brand {
        padding-left: 20px;
        line-height: 18px;

        .icon {
            background-image: url(froscon21.svg);
            background-size: contain;
            width: 180px;
            margin-top: -5px;
        }
    }

    .button-wrapper > .navbar-time {
        line-height: 18px;
    }

    &.navbar-default {
        border-bottom-color: @blue-bright;
        border-bottom-width: 6px;
    }
}

.froscon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    background-attachment: fixed;

    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 100%;

    z-index: -100;

    @media (max-width: @screen-sm-min) {
        display: none;
    }
}

footer {
    position: unset;
    color: @text-color-highlight;
    text-shadow: @text-shadow-color 0 0 3px;
    background: none;

    a {
        color: @link-color;

        &:hover, &:focus {
            color: @link-hover-color;
        }
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: 0 52px linear-gradient(176deg, mix(@blue-bg-dark, @blue-bg-mid, 30%) 0%, @blue-bg-mid 10%, @blue-bg-mid 58%, @blue-bg-dark 100%) fixed no-repeat, @blue-bright;
}

