@import "../../../assets/css/_structure.less";

@white: #ffffff;
@ivory: #fffff0;
@yellow: #FFFF00;
@orange: #FFA500;
@red: #FF0000;
@hot-pink: #FF69B4;
@pink: #FFC0CB;
@light-violet: #CF9FFF;
@violet: #7F00FF;
@blue: #0000FF;
@bright-blue: #0096FF;
@sky-blue: #87CEEB;
@baby-blue: #96D8FF;
@emerald-green: #50C878;
@grass-green: #7CFC00;
@mint-green: #98FB98;
@oxblood: #4A0404;
@chestnut: #954535;
@buff: #DAA06D;
@desert: #FAD5A5;
@almond: #EADDCA;
@light-gray: #D3D3D3;
@ash-gray: #B2BEB5;
@slate-gray: #708090;
@black: #000;

// conference specific styles here
@pw-color: black;
@accent: @bright-blue;

@body-text: @pw-color;

@overview-color: @pw-color;

// often configured values (and their defaults):
//
@brand-primary: @accent;
@text-color: @body-text;

@link-color: @body-text;
@link-hover-color: @slate-gray;

@nav-tabs-border-color: #000;
@nav-tabs-active-link-hover-border-color: #000;
@nav-tabs-justified-link-border-color: #000;

@navbar-height: 70px;

@media (max-width: @screen-sm-min) {
	@navbar-height: 50px;
}

@navbar-default-bg: @white;
@navbar-default-border: @white;

@navbar-default-link-color: @pw-color;
@navbar-default-link-hover-color: @link-hover-color;

@font-face {
	font-family: 'Geist';
	src: url('/configs/conferences/jugendhackt/Geist-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Geist';
	src: url('/configs/conferences/jugendhackt/Geist-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Geist Mono';
	src: url('/configs/conferences/jugendhackt/GeistMono-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Geist Mono';
	src: url('/configs/conferences/jugendhackt/GeistMono-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

body {
	background-image: url("/configs/conferences/jugendhackt/bg.png");
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: 100%;
	padding: @navbar-height 0;
	font-family: "Geist", "Noto Sans", Arial, sans-serif;
	font-size: 16px
}

h1, h2, body.overview .room a.title, body.overview .panel-primary a, .navbar-brand {
	font-family: 'Geist Mono', 'monospace', system-ui;
	font-weight: bold;
}

nav {
	.navbar-brand {
		.icon {
			background: url('/configs/conferences/jugendhackt/alpaka.svg') center no-repeat;
			background-size: contain;
		}
	}
}

.group-live {
	margin-top: 60px;
}

.room {
	h1 {
		font-weight: bold;
		margin: @navbar-height 0 20px 0;
	}
}

.overview, .relive {
	h1, h2 {
		font-weight: bold;

		margin: 20px 0 20px 0;
	}
}

div.room {
	background: @bright-blue;
	color: @ivory;
	padding-left: 0;
	padding-right: 0;
}

div.recordings {
	background: @hot-pink;
	color: @ivory;
}

div.group-live {
	background: @red;
}

.show-inactive-toggle {
	margin: 8px 0;
}

.room, .recordings, .recording {
	a, a:hover {
		text-decoration: none;
		color: @overview-color;
	}

	.panel-default {
		border: none;
	}

	.panel-primary {
		background-color: @light-violet;
		color: @overview-color;
		border-radius: 0;
		border: none;

		& > .panel-body {
			padding: 0;

			& > a {
				padding: 8px 12px;
			}
		}

		a {
			color: @overview-color;
		}
	}
}

.room {
	.panel {
		background-color: @orange;
		color: @black;
		margin-bottom: 0;
		border-radius: 0;

		&:hover {
			text-decoration: none;
			background-color: darken(@orange, 10);
		}

		.panel-title {
			font-size: 25px;
			color: @black;
		}

		.panel-body {
			background-color: @blue;
			color: @white;

			&:hover {
				text-decoration: none;
				background-color: darken(@blue, 10);
			}
		}

		.panel-heading {
			background: none;
			display: block !important;
			font-weight: bold;
			padding: 8px 15px;
			border: none;
		}
	}
}

.overview .room-group-live-music .room .panel .panel-body {
	margin-bottom: 0;
}

.well a {
	color: @slate-gray;
	text-decoration: underline;
}

.alert {
	a {
		text-decoration: underline;
	}

	&.alert-success a {
		color: @emerald-green;
	}

	&.alert-info a {
		color: @sky-blue;
	}

	&.alert-warning a {
		color: @yellow;
	}

	&.alert-danger a {
		color: @red;
	}
}

body.multiview .cell {
	color: black;
}

.closed .about a {
	text-decoration: underline;
	color: @brand-primary;
}

.schedule .block.pause {
	color: black !important;
}


footer {
	background-color: @slate-gray;
	color: @ivory;
}

.nav-tabs.nav-justified > .active > a {
	background-color: @white;
	border: 1px solid @slate-gray;
}

.nav-tabs > li.active > a {
	color: @pw-color;
	background-color: @accent !important;
}

.nav-tabs > li > a {
	background-color: @white;
}

body.room .tab-content {
	background-color: @light-gray;
	border-left: 1px solid @slate-gray;
	border-bottom: 1px solid @slate-gray;
	border-right: 1px solid @slate-gray;
}

img.jh-illus {
	height: calc(@navbar-height * 1.515);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;

	@media (max-width: @screen-sm-min) {
		display: none;
	}
}
