@import "../../../assets/css/_structure.less";

.banner {
    text-align: center;

    img {
        max-width: 100%;
    }
}

nav .navbar-brand .icon {
    background-image: url(r3voc_logo.png);
    background-size: contain;
}