@import "../../../assets/css/_structure.less";

@navbar-default-color:  white;
@navbar-default-bg:     #000;

body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('background.jpg');
	background-position: top right;
	background-size: cover;
	background-repeat: no-repeat;

	color: #fff;
	min-height: 100%;
}

html {
	min-height: 100%;
}
