body.overview {
	.panel-title {
		.roomtitle.short {
			display: none;
		}
		@media (max-width: @screen-xs-max) {
			.roomtitle.regular {
				display: none;
			}
			.roomtitle.short {
				display: inline;
			}
		}
	}

	.panel-body {
		min-height: 10px;
	}

	.room {
		text-align: center;

		a, a:hover {
			text-decoration: none;
		}

		.panel-heading {
			display: none;
		}

		@media (max-width: @screen-xs-max) {
			&.wide {
				float: none;
			}
		}

		&.has-preview {
			.title {
				text-align: left;
				line-height: 120px;
			}

			@media (max-width: @screen-xs-min) {
				text-align: center !important;

				.title {
					text-align: center;
					line-height: inherit;
				}
				.preview {
					float: none;
				}
			}
		}

		&.has-schedule.has-preview {
			text-align: left;

			.panel-heading {
				display: block;
			}
			.title {
				display: none;
				line-height: inherit;
			}
		}

		.preview {
			float: left;
			margin-right: @padding-base-horizontal;

			@media (max-width: @screen-xs-min) {
				margin-bottom: @padding-base-vertical;
			}
		}

		a.title {
			font-size: 2.5em;
			display: block;
		}


		.program-schedule .talk {
			display: inline;
			margin-right: @padding-base-horizontal;
		}

		.program-schedule .talk span {
			@line-height-dense: 1.2857142857142858;
			display: block;
			overflow: hidden;
			line-height: @line-height-dense;
			height: (2 * @line-height-dense * @font-size-base);

		}

		&.has-schedule.has-preview {
			.program-schedule .talk {
				display: block;
			}

			@media (max-width: @screen-xs-min) {
				.program-schedule {
					clear: both;
				}
			}
		}

		&.has-preview {
			.program-schedule .next-talk {
				margin-top: @padding-base-vertical;
			}
		}

		.panel-body h2 {
			margin: 0;
		}
	}

	.recordings a {
		font-size: @jumbo-font-size;
		line-height: @jumbo-line-height;

		@media (max-width: @screen-xs-min) {
			font-size: @jumbo-font-size-xs;
		}

		display: block;
		text-align: center;

		&:hover {
			text-decoration: none;
		}
	}
}
