.tab-content {
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;

}

.player-wrap.tab-content {
	padding: 40px 0;
}

.video.hd .player-wrap.tab-content {
	padding: 0;
}

@media (max-width: @screen-md-max) {
	.video.sd .player-wrap.tab-content {
		padding: 0;
	}
}

.player-wrap {
	margin-bottom: 60px;
	overflow: hidden;
}

.video-wrap {
	margin: 0 auto;
}

.functions-wrap #switcher {
	.row {
		margin-bottom: @padding-large-vertical;
	}

	.btn-group {
		margin-bottom: @padding-base-vertical;
	}
}

.functions-wrap .chat {
	text-align: center;
	overflow: hidden;

	> div {
		margin: 25px;

		> a {
			font-size: @jumbo-font-size;
		}
	}
}
