@import "fa/font-awesome.less";
@import "_bootstrap-selection.less";
@import "_footer.less";

@img: '../img/';

// website configuration styles

.navbar {
	.navbar-brand > img {
		float: left;
		margin-right: @navbar-padding-horizontal;
	}
	
	.button-wrapper > .btn {
		width: 40px;
	}
}

body {
	padding-top: 50px;
}


.overview {
	@import "_overview.less";
}
