@import "fa/font-awesome.less";
@import "_bootstrap-selection.less";
@import "_mejs_hacks.less";
@import "_footer.less";

@img: '../img/';

@grid-float-breakpoint:     0;

@jumbo-font-size:   52px;
@jumbo-line-height: 45px;

@program-now:       @brand-danger;
@program-now-bg:    fade(lighten(@brand-danger, 5%), 60%);

@program-room:      darken(@brand-primary, 15%);
@program-author:    #444;

@program-selected-room: lighten(@brand-success, 10%);

@program-daychange:    white;
@program-daychange-bg: fade(white, 30%);

@program-gap:          white;
@program-gap-bg:       fade(white, 30%);

@program-pause:        white;
@program-pause-bg:     lighten(black, 85%);


// website configuration styles

.navbar {
	.navbar-brand > img {
		float: left;
		margin-right: @navbar-padding-horizontal;
	}
	
	.button-wrapper > .btn {
		width: 40px;
	}
}

body {
	padding: 50px 0;
}


body.overview {
	@import "_overview.less";
}
body.room {
	@import "_room.less";
}

body.e404 {
	> .container {
		text-align: center;
		h1 {
			font-size: @jumbo-font-size;
			margin: 50px 0 50px 0;
		}

		img {
			background-color: @brand-primary;
			max-width: 80%;
		}
	}
}

body.feedback {
	.feedback-thankyou {
		font-size: @jumbo-font-size;
		text-align: center;
		padding: 30px;

		display: none;

		.well();
	}
}
