@import "../../../assets/css/_structure.less";

@background-color: #000;
@text-color: white;
@color-primary: #ffe266;
@color-secondary: #71a8f5;

/* latin-ext */
@font-face {
  font-family: 'Trispace';
  font-style: normal;
  font-weight: 100 800;
  font-stretch: 75% 125%;
  src: url("/configs/conferences/mrmcd25/fonts/trispace-latin-ext.woff2") format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Trispace';
  font-style: normal;
  font-weight: 100 800;
  font-stretch: 75% 125%;
  src: url("/configs/conferences/mrmcd/fonts/trispace-latin.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
	font-family: "Trispace", Arial, sans-serif;
	background-color: @background-color;
	color: @text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Trispace", Arial, sans-serif;
}

a {
	color: lighten(@text-color, 20%);
}

.navbar {font-stretch: condensed;
	background-color: @background-color;
	border-bottom: 1px solid @color-primary !important;
}

footer {
	background-color: @background-color !important;
	border-top: 1px solid @color-primary !important;
	color: @text-color;
}

.group-live {
	position: relative;
	padding-top: 2rem;
	margin-top: 1rem;
}

.row.headline {
	position: relative;
	padding-top: 5rem;
	margin-top: 1rem;
}

h1 {
	font-stretch: condensed;
	font-size: 5rem;
	font-weight: 700;
	text-transform: uppercase;
}

.nav-tabs.nav-justified > .active > a {
	border: none;
}

ul.nav.nav-player.nav-tabs.nav-justified > li.active > a,
.nav-tabs > li.active > a {
	background-color: rgba(25, 36, 82, 0.8);
	backdrop-filter: blur(4px);
	font-stretch: expanded;
	border: none;
}

ul.nav.nav-player.nav-tabs.nav-justified > li > a,
.nav-tabs > li > a,
.panel-default > .panel-heading {
	background-color: rgba(25, 36, 82, 0.3);
	border: none;
	backdrop-filter: blur(4px);
	color: lighten(@text-color, 20%) !important;
	font-stretch: expanded;
	text-transform: uppercase;
	font-weight: bold;
}

ul.nav.nav-player.nav-tabs.nav-justified > li > a:hover,
.nav-tabs > li > a:hover,
.panel-default > .panel-heading:hover {
	background-color: rgba(25, 36, 82, 1) !important;
	backdrop-filter: blur(4px);
}

.player-wrap.tab-content {
	border: none !important;
}

.panel {
	background-color: rgba(25, 36, 82, 0.3);
	backdrop-filter: blur(4px);
	border: none;
}

.navbar-brand {
	text-transform: uppercase;
	color: #000 !important;
	filter: invert();
}

.panel-title {
	text-transform: uppercase;
}

.row.recordings h2,
row.group-live h2 {
	position: relative;
	padding-top: 1rem;
}

.row.recordings h2 span,
.row.group-live h2 span {
	font-stretch: condensed;
	font-size: 5rem;
	font-weight: 700;
	text-transform: uppercase;
	z-index: -9;
}

h3 {
	color: @text-color;
}

.block.pause {
	background-color: darken(@background-color, 10%) !important;
}

.container-fluid, .tab-pane {
	border: 1px solid @color-primary;
}

.form-control {
	background-color: darken(@background-color, 10%) !important;
	color: @text-color !important;
	border: 1px solid @color-primary !important;
}

.btn-default {
	background-color: darken(@color-secondary, 40%) !important;
	color: @text-color !important;
	border: none !important;
}
