@import "../../../assets/css/_structure.less";

@color-pink: #f25e95;
@color-purple: #b03bbf;
@color-blue: #5234bf;
@color-yellow: #fffb96;
@color-red: #f24535;
@color-lightblue: #61f2ff;
@home-color: #fec859ff;
@home-background-color: var(--home-background-color-solid);
@home-background-color-solid: #491d88ff;


@orange: @color-red;
@light: @color-lightblue;
@medium: @color-red;
@dark: @color-blue;
@bright: @color-yellow;

@link-color:            @dark;
@panel-primary-border:  @dark;

@panel-bg: white;
@panel-default-heading-bg: @color-blue;
@panel-default-text:       @color-yellow;

@text-color: white;
body {
    background-image: url(4k_starry_background_crop.svg), linear-gradient(to bottom right, #0a0613, #5f35b4);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 { color: white; }

.overview .panel-title {
    font-weight: bold;
}

nav .navbar-brand .icon {
    background-image: url(WHY2025_logo_black_300.png);
    background-size: contain;
}

.tab-content > .active {
    background: white;
}
