@import "../../../assets/css/_structure.less";

// conference specific styles here
@fg-color:        #7A602F;
@bg-main:         #F9F6E5;
@accent-red:      #CA9B34;
@accent-orange:   #F3B560;
@accent-greenblue:#8DBEB2;


// often configured values
//
@brand-primary:                   @accent-red;
@text-color:                      @fg-color;
@body-bg:                         @bg-main;

@link-color:                      @brand-primary;
@link-hover-color:                darken(@link-color, 5%);

@navbar-default-color:            @accent-red;
@navbar-default-bg:               @fg-color;
@navbar-default-link-color:       @link-color;
@navbar-default-link-hover-color: @link-hover-color;

@panel-bg:                        @fg-color;
@panel-default-text:              @accent-red;
@panel-default-heading-bg:        darken(@panel-bg, 5%);
@panel-default-border:            darken(@panel-default-heading-bg, 5%);

body {
    font-family: "Inria Serif", "Times New Roman", serif;
}

.banner {
    text-align: center;
    color: @brand-primary;

    img {
        max-width: 100%;
        height: auto;
        zoom: 0.4;
    }

    margin-bottom: 1em;
}


@font-face {
    font-family: "Inria Serif";
    font-style: normal;
    font-weight: normal;
    src: url("/configs/conferences/hackover2026/fonts/InriaSerif-Regular.woff2") format("woff2"), url("/configs/conferences/hackover2026/fonts/InriaSerif-Regular.woff") format("woff"), url("/configs/conferences/hackover2026/fonts/InriaSerif-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Inria Serif";
    font-style: normal;
    font-weight: bold;
    src: url("/configs/conferences/hackover2026/fonts/InriaSerif-Bold.woff2") format("woff2"), url("/configs/conferences/hackover2026/fonts/InriaSerif-Bold.woff") format("woff"), url("/configs/conferences/hackover2026/fonts/InriaSerif-Bold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Inria Serif";
    font-style: italic;
    font-weight: normal;
    src: url("/configs/conferences/hackover2026/fonts/InriaSerif-Italic.woff2") format("woff2"), url("/configs/conferences/hackover2026/fonts/InriaSerif-Italic.woff") format("woff"), url("/configs/conferences/hackover2026/fonts/InriaSerif-Italic.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Inria Serif";
    font-style: italic;
    font-weight: bold;
    src: url("/configs/conferences/hackover2026/fonts/InriaSerif-BoldItalic.woff2") format("woff2"), url("/configs/conferences/hackover2026/fonts/InriaSerif-BoldItalic.woff") format("woff"), url("/configs/conferences/hackover2026/fonts/InriaSerif-BoldItalic.ttf") format("truetype");
    font-display: swap;
}


// colors of the schedule ("Fahrplan") widget below the video-player
//
//  @schedule-now:       @brand-danger;
//  @schedule-now-bg:    fade(lighten(@brand-danger, 5%), 60%);
//  @schedule-border:    lighten(@brand-primary, 50%);
//
//  @schedule-room:      darken(@brand-primary, 15%);
//  @schedule-author:    #444;
//
//  @schedule-selected-room: lighten(@brand-success, 10%);
//
//  @schedule-daychange:    darken(@brand-primary, 20%);
//  @schedule-daychange-bg: fade(white, 30%);
//
//  @schedule-gap:          darken(@brand-primary, 20%);
//  @schedule-gap-bg:       fade(white, 30%);
//
//  @schedule-pause:        white;
//  @schedule-pause-bg:     lighten(black, 85%);
